@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header {
    height: 50px;
}

.carousel {
    background-image: url("./gambar/wallpaper.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
}

nav.menu {
    background-color: #fff;
    margin-top: 40px;
    border-radius: 40px;
    height: 50px;
}

nav.menu ul{
    margin: 0;
    padding: 0 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

nav.menu ul li {
    display: inline-block;
    font-family: 'Lemon', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #03132c;
    padding: 10px 0 10px 0;
}

.title {
    padding-top: 100px;
    font-family: 'Lemon', cursive;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.title h1 {
    color: #03132c;
}

.advantages {
    padding: 100px 25px;
    height: 300px;
}

.list-adv {
    padding: 150px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.adv {
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 20px;
    width: 200px;   
    height: 175px;
    box-shadow: 10px 10px 20px #3030302e;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

.adv img {
    padding: 10px;
    height: 100px;
    color: #03132c;
}

.adv p {
    text-align: center;
    font-size: 20px;
    color: #03132c;
}

@media (max-width: 1000px) {
    nav.menu ul{
        padding: 0 100px;
    }
}

@media (max-width: 600px) {
    body {
        background-image: url("./gambar/wallpaper-mobile.jpg");
        background-repeat: no-repeat;
        background-size: auto;

    }
    .carousel {
        background-image: none;
    }
    nav.menu ul{
        padding: 0 100px;
    }
    nav.menu ul li {
        display: inline-block;
        font-family: 'Lemon', cursive;
        font-size: 15px;
        font-weight: bold;
        color: #03132c;
        padding: 10px 0 10px 0;
    }
    .list-adv {
        display: flex;
    }

    .adv {
        padding: 10px 20px;
        background-color: #fff;
        border-radius: 20px;
        width: 125px;   
        height: auto;
    }

    .adv img {
        padding: 10px;
        width: 50px;
        height: auto;
        color: #03132c;
    }
    
    .adv h3 {
        text-align: center;
        color: #03132c;
    }
}